- if current_admin
  .admin-links-top
    = link_to 'Nuevo  <%= human_name %>', new_<%= singular_table_name %>_path, class: 'btn btn-default'

= page_title('<%= plural_table_name %>')
%p Texto descriptivo
= page_encabezado_end

.row
  .span12
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
<% for attribute in attributes -%>
      .media-title
        %h2
          <%= attribute.human_name %>
      .media-body
        = <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
      .actions
        = link_to 'Ver', <%= singular_table_name %>, class: 'btn btn-default'
        - if current_admin
          = link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-default'
          = link_to 'Eliminar', <%= singular_table_name %>, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-default'
